.reviews {
  .reviews__title {
    margin-bottom: 1rem;
  }

  .reviews__form {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    .reviews__form__name,
    .reviews__form__body {
      @include form-input;
    }

    #reviewsFormError {
      font-size: 0.85rem;

      &.form-error {
        color: #fe2020;
      }
    }

    .reviews__form__submit {
      @include primary-button;
      @include btn-small;
      width: fit-content;
    }
  }

  .reviews__container {
    display: grid;
    gap: 1.5rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }

    .review {
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 2px 4px 15px lighten($color: $primary, $amount: 30);

      .review__icon {
        width: 30px;
        opacity: 0.4;
        position: absolute;
      }

      .review__text {
        margin-top: 1rem;
        font-size: 1.1rem;
        font-style: italic;
      }

      .review__user {
        margin-top: 1.5rem;

        .review__name {
          display: block;
          font-weight: 700;
          font-size: 0.9rem;
          line-height: 0.8;
        }

        .review__date {
          font-size: 0.8rem;
          color: gray;
        }
      }
    }
  }
}
