@mixin icon {
  width: 15px;
  height: 15px;
}

@mixin button {
  cursor: pointer;
  border: 2px solid black;
  color: $black;
  border-radius: 50px;
  padding: 0.7rem 1.6rem;
  display: inline-block;
  font-weight: 600;
  transition: all 300ms ease-out;
}

@mixin primary-button {
  @include button;
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: transparent;
    border-color: $primary;
    color: $primary;
  }
}

@mixin form-input {
  padding: 0.7rem 1.2rem;
  border-radius: 0.7rem;
  border: 1px solid #cbcbcb;

  &:focus {
    outline-color: $primary;
  }
}

@mixin btn-small {
  padding: 0.7rem 1.6rem;
  font-size: 0.9rem;
}
